BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: 'Yes'
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: '120'
ExperimentalAutoDetectBinPacking: 'false'
NamespaceIndentation: None
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
TabWidth: '4'
UseTab: Always
FixNamespaceComments: 'true'
IndentCaseLabels: 'true'