# Basic style rules by Charles Lohr
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: 'Yes'
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: '120'
ExperimentalAutoDetectBinPacking: 'false'
NamespaceIndentation: None
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
TabWidth: '4'
UseTab: Always
FixNamespaceComments: 'true'
IndentCaseLabels: 'true'

# Additions by Sam Ellicott
ColumnLimit: 100
AlignConsecutiveAssignments: true 
AlignConsecutiveMacros: true 
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse 
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true