[submodule "embedded8266/esp82xx"]
	path = embedded8266/esp82xx
	url = https://github.com/cnlohr/esp82xx.git
[submodule "colorchord2/rawdraw"]
	path = colorchord2/rawdraw
	url = https://github.com/cntools/rawdraw
[submodule "colorchord2/cnfa"]
	path = colorchord2/cnfa
	url = https://github.com/cnlohr/cnfa
[submodule "colorchord2/android/rawdrawandroid"]
	path = colorchord2/android/rawdrawandroid
	url = https://github.com/cnlohr/rawdrawandroid
